@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AlgoraArt</h1>

</div>
<div>
      
  
     
     
     <p>Dapp to cooridinate a community based apporach in appraising, selecting and contracting artist for public art.</p>
   
     <h2>Other Opportunies</h2>
     <h3>Arts Venue Management</h3>
     <p>arts venues can alert art vendors and artists on collaboration opportunities efforts.
         Mulciplities, cities towns can create attractions through art.</p>
   <h3>booking support</h3>
    <p>creating the infrastructure for artists, vendors, and donors can create new ways to collaborate</p>
   <h3>patron engagement</h3>
   <p>Creating a token based economy can help with engnaging patrons in new ways.</p>
   <h3>Curated NFTs</h3>
    <p>minting service with storage option. </p>

   </div>